<h1>Manual Analytics Import</h1>

<p>
  Note: Existing data between these dates will be cleared. Dates must be in YYYY-MM-DD format.
</p>

<form action="/import" method="GET">
  <input name="date" value="<%= (Time.now.beginning_of_day - 1.day).strftime("%Y-%m-%d") %>">
  <input type="submit" value="Go">
</form>


<h1>Manual Email Csv</h1>

<form action="/emailcsv" method="GET">
  <input name="date" value="<%= (Time.now.beginning_of_day - 1.day).strftime("%Y-%m-%d") %>">
  <input type="submit" value="Go">
</form>